*{
    padding: 0;
    user-select: none;
}

header {
    background-color: #2176ae;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
}

.logo img{
    height: 10vh;
}

nav a {
    text-decoration: none;
    color: #F4F7E6;
    font-weight: bold;
    letter-spacing: 0.1em; 
    transition: 0.3s;
}

nav a:hover {
    color: #69DF1B;
    font-size: 30px;
    transition: 0.3s;
}

#links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.outras_paginas{
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 138%; /* 1em é equivalente a 16px */
    background-color: #F4F7E6;
    color: #2176ae;
    margin: 0;
    padding: 0;
    width: 100%;
}

.principal{ 
    position: relative;
    padding: 2%;
    display: flex;
    width: 120%;
    padding-bottom: 1%;
    justify-content: center;
    align-content: center;
    right: 40%;
}

#titulo{
    margin-top: 6%;
    font-size: 350%;
    padding-left: 2%;
}

.principal #imgPrincipal{
    padding-left: 12%;
    width: 23%;
    height: 23%;
} 

#txtPrincipal{
    position: relative;
    border: #2176ae solid 10px;
    color: #F4F7E6;
    background-color:#69DF1B;
    width: 50%;
    padding-right: 2%;
    right: -1%;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
    transition: 0.4s;
}


.principal:hover{
    position: relative;
    display: flex;
    color: #F4F7E6;
    position: relative;
    left: -22%;
    justify-content: space-around;
    padding-right: 0;
    transition: 0.65s;
}
.principal:hover #txtPrincipal{
    position: relative;
    align-content: center;
    color: #F4F7E6;
    border: #2176ae solid 10px;
    background-color:#69DF1B;
    padding: 1%;
    font-size: 120%;
    padding-left: 15%;
    left: 0px;
    border-top-right-radius:800px;
    border-bottom-right-radius: 800px;
    transition: 0.4s;
}
.principal:hover #txtPrincipal h2{
    opacity: 1;
    transition: 0.4s;
}
.principal:hover #txtPrincipal p{
    opacity: 1;
    transition: 0.4s;
}

.principal:hover h1 {
    display: none;
}

.principal:hover #imgPrincipal { 
    padding-left: 0;
    transition: 1.1s;
}


.FundoAzul{
    color: #F4F7E6;
    background-color: #2176ae;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 5% 2% 5%;

    border-top: #69DF1B dashed 10px;
    border-bottom:#69DF1B dashed 10px;
    height: 89vh;
}

.FundoAzul .texto{
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4%;   
    margin-left: 9%; 
    font-size: 120%;
    border: #F4F7E6 dashed 10px;
}

#imgFundoAzul {
    width: 22%;
}
#imgMei{
    width: 18%;
    margin-left: 5%;
} 

#servicos{
    display: flex;
}

#imgServicos{
    width: 20%;
}

#servicos{
    width: 100%;
    height: 98vh;
    padding: 0.5% 0% 0.5% 0%;
    display: flex;
    align-items: center;
    font-size: 150%;
}

#servicos #txt{
    opacity: 0%;
}

#txt{
    text-align: center;
    height: 50%;
    padding: 5%;    
    position: relative;
    border: #2176ae solid 10px;
    background-color:#69DF1B;
    align-content: center;
    overflow: hidden;
    border-top-left-radius: 800px;
    border-bottom-left-radius: 800px;
}

#servicos h1{
    text-align: right;
    padding-left: 10%;
    transition: 1s;
}

#imgServicos{
    padding-left: 60%;
    position: absolute;
    transition: 0.4s;
}

#servicos:hover h1{
    display: none;
    opacity: 0;
}

#servicos:hover #txt{
    opacity: 1;
    width: 65%;
    margin-left: 35%;
    transition: 0.4s;
}

#servicos:hover #imgServicos{
    padding-left: 10%;
    transition: 0.4s;
}

.cursos {
    padding: 5%;
    padding: 2% 0 2% 0;
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
    right: 20%;
    transition: 0.4s;
} 

.cursos #txtCurso{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
}

.cursos #imgcursos{    
    padding-left: 24%;
    width: 21%;
}

.cursos h1{
    font-size: 300%;
    padding: 0%;
    margin: 0%;
    padding-left: 4%;
    transition: 0.4s;
}

.cursos p{
    margin: 0%;
}

.cursos:hover{
    color: #F4F7E6;
    position: relative;
    display: flex;
    right: 10%;
}

.cursos:hover #txtCurso{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 55vh;
    justify-content: center;
    align-items: center;
    border: #69DF1B solid 10px;
    background-color:#2176ae;
    padding-left: 8%;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
}

.cursos:hover h1{
    display: none;
    transition: 0.4s;
}

.cursos:hover #imgcursos{    
    padding-left: 5%;
    transition: 0.4s;
}

.final {
    display: flex;
    justify-content: space-evenly; 
    background-color: #2176ae;
    padding: 0%;
    color: #F4F7E6;
    width: 100%;   
}

.final h1 {
    font-size: 1.8em;
    margin-bottom: 2%;
}

.final a {
    color: #F4F7E6;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.final a:hover {
    color: #69DF1B;
    font-size: 150%;
    transition: 0.3s;
} 

.final #comeceUsar{
    text-align: center;
    padding: 20px;
}

.final #redesSocias{
    text-align: center;
    padding: 20px;
}