/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 1em; /* 1em é equivalente a 16px */
    background-color: #F4F7E6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #2176ae;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; /* Mantendo o tamanho em pixels para garantir que o logo seja visível e adequado */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 2%;
}

nav a {
    text-decoration: none;
    color: #F4F7E6;
    font-weight: bold;
    letter-spacing: 0.1em; /* Adiciona espaço entre as letras */
}

nav a:hover {
    color: #10a5e5;
}

/* Main Section Styles */
.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.inicio {
    color: #2176ae;
    max-width: 50%;
    padding-right: 5%;
}

.inicio h1 {
    font-size: 2.5em;
    margin-bottom: 2%;
}

.inicio p {
    font-size: 1.2em;
    line-height: 1.5em;
}

/* Image Styles */
#loja {
    max-width: 40%;
    height: auto;
}

/* Final Section Styles */
.final {
    display: flex;
    justify-content: space-around;
    background-color: #2176ae;
    padding: 4% 2%;
    color: #F4F7E6;
}

.final h1 {
    font-size: 1.8em;
    margin-bottom: 2%;
}

.final2 a {
    color: #F4F7E6;
    text-decoration: none;
    font-weight: bold;
}

.final2 a:hover {
    color: #10a5e5;
}


.final{
    background-color: #10a5e5;
    width: 100%;
    height: 300px;
}