body {
    font-family: Arial, sans-serif;
    font-size: 138%; /* 1em é equivalente a 16px */
    background-color: #F4F7E6;
    color: #2176ae;
    margin: 0;
    padding: 0;
}

/* Estilo do header*/
header {
    background-color: #2176ae;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 50px; 
}

#links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    li {
        margin-right: 2%;
    }
}

.outras_paginas{
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #F4F7E6;
    font-weight: bold;
    letter-spacing: 0.1em; 
}

nav a:hover {
    color: #69DF1B;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    padding-right: 3%;
    inicio {
        color: #2176ae;
        max-width: 50%;
        padding-right: 5%;
        inicio h1 {
            font-size: 2.5em;
            margin-bottom: 2%;
        }
        p {
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }
}

#loja {
    max-width: 40%;
    height: auto;
    margin-left: 10%;
}

.meio{color: #F4F7E6;
    background-color: #2176ae;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1.5% 10% 1.5% 10%;
    #textos{
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-right: 8%;
    }
    #imgTV{    
        width: 26%;
    }
}


#servicos{
    padding: 0% 10% 2% 0%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    #infos{
        padding-top: 15%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #69DF1B;
        width: 63%;
        justify-content: center;
        border: 8px solid #2176ae;
        margin-left: -1%;
        border-top-right-radius: 49%;
        border-bottom-right-radius: 49%;
    }
    #imgServicos{
        width: 23%;
        height: 90%;
    }
}

#feedB{
    display: flex;
    background-color: #2176ae;
    align-items: center;
    padding: 0%;
    margin: 0%;
    #textosFeed{
        text-align: center;
        color: #F4F7E6;
        width: 50%;
        margin: 5%;
    }
    #divFeed{
        background-color: #F4F7E6;
        width: 50%;
        text-align: center;
    }
    #imgFeed{
        width: 50%;
    }
}



.cursos {
    text-align: center;
    width: 90%;
    height: 100%;
    padding: 2% 5% 2% 5%;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    #imgcursos{    
        height: 10%;
        width: 25%;
    }
    #freepick{
        transform: scaleX(-1);
        width: 22%;
        height: 10%;
    }
} 

.final {
    display: flex;
    justify-content: space-evenly; 
    background-color: #2176ae;
    padding: 0%;
    color: #F4F7E6;
    width: 100%;
    h1 {
        font-size: 1.8em;
        margin-bottom: 2%;
    }
    a {
        color: #F4F7E6;
        text-decoration: none;
        font-weight: bold;
    }
    a:hover {
        color: #69DF1B;
    }    
    #ua{
        text-align: center;
        padding: 20px;
    }
    
    #rs{
        text-align: center;
        padding: 20px;
    }
}

