*{
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 138%; /* 1em é equivalente a 16px */
    background-color: #F4F7E6;
    color: #2176ae;
    margin: 0;
    padding: 0;
}

/* Estilo do header*/
header {
    background-color: #2176ae;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h1{
    position: relative;
    left: 4%;
    font-size: 400%;
}

.logo img{
    height: 50px; 
}

#links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.outras_paginas{
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #F4F7E6;
    font-weight: bold;
    letter-spacing: 0.1em; 
    transition: 0.3s;
}

nav a:hover {
    color: #69DF1B;
    font-size: 30px;
    transition: 0.3s;
}

.principal{
    position: relative;
    padding: 30px;
    display: flex;
    right: 575px;
    transition: 0.3s;
}

.principal #imgPrincipal{
    padding-left: 7%;
}

.principal #txtPrincipal{
    position: relative;
    border: #2176ae solid 10px;
    background-color:#69DF1B;
    /* text-align:start; */
    /* align-items: center; */
    padding-top: 50px;
    padding-left: 2%;
    padding-right: 2%;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
    
}

.principal h2{
    font-size:236% ;
}

.principal:hover{
    color: #F4F7E6;
    position: relative;
    padding: 30px;
    display: flex;
    right:50px;
    transition: 0.4s;
}

.principal:hover #txtPrincipal{
    position: relative;
    border: #2176ae solid 10px;
    background-color:#69DF1B;
    /* text-align:start; */
    /* align-items: center; */
    padding-top: 50px;
    padding-left: 2%;
    border-top-right-radius:800px;
    border-bottom-right-radius: 800px;
    
}

.Produto{
    color: #F4F7E6;
    background-color: #2176ae;
    display: flex;
    align-items: center;
    padding-top: 2%; 
    padding-bottom: 2%;
    padding-left: 3%;
    border-top: #69DF1B dashed 10px;
    border-bottom:#69DF1B dashed 10px ;
}

.Produto #texto{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4%;   
    margin-left: 9%; 
    font-size: 150%;
    border: #F4F7E6 dashed 10px;
}

#servicos{
    position: relative;
    align-items: center;
    padding: 50px;
    display: flex;
    right: 575px;
    transition: 0.3s;
}

#servicos #txt{
    padding: 4%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    border: #69DF1B solid 10px;
    background-color:#2176ae;
    /* text-align:start; */
    /* align-items: center; */
    padding-top: 50px;
    padding-left: 2%;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
}

#servicos #imgServicos{
    padding-left: 16%;
    width: 23%;
    height: 70%;
    padding-top: 3%;
}

#servicos:hover{
    color: #F4F7E6;
    position: relative;
    padding: 30px;
    display: flex;
    right:50px;
    transition: 0.4s;
}

#servicos:hover #txt{
    position: relative;
    border: #69DF1B solid 10px;
    background-color:#2176ae;
    /* text-align:start; */
    /* align-items: center; */
    padding-top: 50px;
    padding-left: 2%;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
}

#servicos:hover #imgServicos{
    padding-left: 5%;
    width: 23%;
    height: 70%;
    padding-top: 3%;
}

#divFeed1{
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    display: flex;
    right: 575px;
    transition: 0.3s;
}

#divFeed1 #textosFeed{
    padding: 4%;
    padding-top: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    border: #2176ae solid 10px;
    background-color:#69DF1B;
    /* text-align:start; */
    /* align-items: center; */
    padding-top: 50px;
    padding-left: 2%;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
}

#divFeed1 #imgFeed{
    padding-left: 5%;
    width: 23%;
    height: 70%;
    padding-top: 3%;
}

#divFeed1:hover{
    color: #F4F7E6;
    position: relative;
    padding: 30px;
    display: flex;
    right:50px;
    transition: 0.4s;
}

#divFeed1:hover #textosFeed{
    position: relative;
    border: #2176ae solid 10px;
    background-color:#69DF1B;
    /* text-align:start; */
    /* align-items: center; */
    padding-top: 50px;
    padding-left: 2%;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
}


.cursos {
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    display: flex;
    right: 575px;
    transition: 0.3s;
} 

.cursos #txtCurso{
    padding: 4%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    border: #69DF1B solid 10px;
    background-color:#2176ae;
    /* text-align:start; */
    /* align-items: center; */
    padding-top: 50px;
    padding-left: 2%;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
}

.cursos #imgcursos{    
    padding-left: 24%;
    width: 23%;
    height: 70%;
    padding-top: 3%;
}

.cursos:hover{
    color: #F4F7E6;
    position: relative;
    padding: 30px;
    display: flex;
    right:50px;
    transition: 0.4s;
}

.cursos:hover #txtCurso{
    position: relative;
    border: #69DF1B solid 10px;
    background-color:#2176ae;
    /* text-align:start; */
    /* align-items: center; */
    padding-top: 50px;
    padding-left: 2%;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
}

.cursos:hover #imgcursos{    
    padding-left: 5%;
    width: 23%;
    height: 70%;
    padding-top: 3%;
}

.final {
    display: flex;
    justify-content: space-evenly; 
    background-color: #2176ae;
    padding: 0%;
    color: #F4F7E6;
    width: 100%;   
}

.final h1 {
    font-size: 1.8em;
    margin-bottom: 2%;
}

.final a {
    color: #F4F7E6;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.final a:hover {
    color: #69DF1B;
    font-size: 150%;
    transition: 0.3;
} 

.final #comeceUsar{
    text-align: center;
    padding: 20px;
}

.final #redesSocias{
    text-align: center;
    padding: 20px;
}